* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin: 0px;
    background-color: #3ae2dad3; 
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: #ffffff;
    margin: auto;
    background-color: #1effb4;
    padding: 10px;
    font-size: 30px;
}

#timer {
  width: 160px;
  font-size: 40px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}



.card-start {
    width: 65%;
    border: solid;
    border-color: lightgreen;
    border-radius: 45px;
    box-shadow:0px 0px 10px 2px  lightgreen; 
    background-color: #f5f7f0f3;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    font-size: 30px;
}

#start-button {
    display: block;
    color: #ffffff;
    background-color: lightgreen;
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 20px;
    
}

#start-button:hover {
    background-color: #3ae2dad3;
    color: green;
}

#view-high-scores {
    cursor: pointer;
}

#view-high-scores:hover {
    color: grey;
}

#text-result {
    font-size: 20px;
    position: absolute;
    width: 520px;;
    padding: 20px;
    bottom: 0;
    left: 0;
    
}

#card-question {
    width: 700px;
    max-width: 80%;
    border: solid;
    border-color: lightgreen;
    border-radius: 45px;
    box-shadow:0px 0px 10px 2px  lightgreen; 
    background-color: #f5f7f0f3;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
    font-size: 30px;
    position: relative;
}

#questions {
    padding: 30px;
    font-size: 40px;
    font-weight: 600;
}

.answer-button {
    display: grid;
    gap: 10px;
    margin: 20px;
    border-radius: 4px;
    border: 1px;
    background-color: #3ae2dad3;
    color: white;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 10px;
    cursor: pointer;

}

.answer-button:active {
    color: rgb(87, 193, 241);
}


.answer-button:hover {
    background-color: #23eeaa;
    
}



#score-card{
    width: 65%;
    border: solid;
    border-color: lightgreen;
    border-radius: 45px;
    box-shadow:0px 0px 10px 2px  lightgreen; 
    background-color: #f5f7f0f3;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10vh;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.button-submit {
    background-color: lightgreen;
    border: none;
    border-radius: 12px;
    padding: 15px;
    margin-top: 10px;
    font-size: 20px;
}



.text-input {
    width: 35%;
    padding: 1vh;
    margin: 10px;

}

.button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: #ffffff; 
    background-color: lightgreen;
    border: none;
    padding: 20px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 20px; 
}

#high-score-card {
    width: 65%;
    border: solid;
    border-color: lightgreen;
    border-radius: 45px;
    box-shadow:0px 0px 10px 2px  lightgreen; 
    background-color: #f5f7f0f3;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10vh;
    font-size: 30px;
}
.hide {
    display: none;
}